/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typo */
body{
    font-family: 'Open Sans', sans-serif;
}

/* common */
a{
    text-decoration: none;
    color: black;
    margin: 0 20px;
    text-align: left;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

header{
    margin: 20px;
}

ul,
li
{
    vertical-align: middle;
    display: inline-block;
}


.btn{
    padding: 10px 10px;
    background-color: #0061ff;
    color: white;
    border: none;
}

.container_left{
    float: left;
}
.container_right{
    float: right;
}

.a_right{
    text-align: right;
}

nav img{
    vertical-align: middle;
}

.a_button{
    color: white;
}


/* main */

.container{
    background-color: #b4d0e7;

}
.container_80{

    margin: auto;
    width: 80%;
}
h1{
    font-size: 90px;
    margin: 40px 0px;
}

.col_left{
    width: 40%;
    float: left;
}

.col_left p{
    font-size: 23px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.col_right{
    width: 60%;
    float:right;
}

.fa-arrow-down{
    font-size: 50px;
    margin-top: 50px;
}
.jumbo{
    position: relative;
    background-image: cover;
    width: 100%;
    top:100px;
}